{% extends 'base.html.twig' %}

{% block title %}Modification de {{ visiteur.prenom }} {{ visiteur.nom }}{% endblock %}

{% block body %}
    <div class="showback">
        <h1 class="bleu-gsb">Modification de {{ visiteur.prenom }} {{ visiteur.nom }}</h1>
    </div>

    <div class="text-center">
        {{ include('visiteur/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
        <br>
        <a href="{{ path('visiteur_index') }}"><button class="btn btn-primary">Retour</button></a>
    </div>
{% endblock %}
