{% extends 'base.html.twig' %}

{% block title %}{{ etat.libelle }}{% endblock %}

{% block body %}
<center>
    <h1 class="bleu-gsb">{{ etat.libelle }}</h1>

    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12"></div>

        <div class="col-lg-6 col-md-6 col-sm-12">

            <table class="table">
                <tbody>
                    <tr>
                        <th>Identifiant</th>
                        <td>{{ etat.id }}</td>
                    </tr>
                    <tr>
                        <th>Abréviation</th>
                        <td>{{ etat.abreviation }}</td>
                    </tr>
                    <tr>
                        <th>Libellé</th>
                        <td>{{ etat.libelle }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-12"></div>

    </div>

    <a href="{{ path('etat_edit', {'id': etat.id}) }}"><button class="btn btn-warning">Modifier</button></a>
    <br><br>
    {{ include('etat/_delete_form.html.twig') }}
    <br>
    <a href="{{ path('etat_index') }}"><button class="btn btn-primary">Retour</button></a>
</center>
{% endblock %}
